body {
	background-color: #f8f8f8;
	color: #080808;
	user-select: none;
	margin: 0;
	font-family: "IBM Plex Serif", serif;
	font-size: 1.25em;
	line-height: 1.5;
}

#container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;
	justify-content: center;
	hyphens: auto;
	max-width: 50em;
}

#projects {
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 0.25em;
}

header {
	margin-bottom: 0.75em;
}

a {
	color: inherit;
}

p {
	text-align: center;
	margin: 0;
	padding: 0.75em;
}

.main-link {
	text-decoration: none;
	padding: 0.75em;
}

.main-p {
	padding: 0;
	text-align: justify;
}

.main-link:hover {
	background-color: #f0f0f0;
}

.sec-p {
	color: #686868;
	text-align: justify;
	padding: 0;
}

footer {
	margin-top: 0.75em;
}

#me {
	text-align: right;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #080808;
		color: #f8f8f8;
	}

	.main-link:hover {
		background-color: #1a1a1a;
	}

	.sec-p {
		color: #b0b0b0;
	}
}
